body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.true {
background-color: black;
color: white;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.false {
background-color: rgb(250, 250, 250);
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.element-container {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: ;
}